@model WebApplicationVakti_Im.Models.GATIM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GATIM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.emri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pershkrimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pershkrimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cmimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cmimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.disponueshmeria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disponueshmeria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datakrijimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datakrijimit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datamodifikimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datamodifikimit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERDORUE.emri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERDORUE.emri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERDORUE1.emri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERDORUE1.emri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KATEGORI.emri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KATEGORI.emri)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.gatim_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
